<% if current_page?(action: 'new')|| @sample.id.nil? %>
  <%= simple_form_for(@sample, :url => sample_new_path(@sample),
                      :html => { :class => 'form-group directFileUpload custom-form',
                                 :role => 'form'}) do |f| %>
    <div class="col-md-8 col-md-offset-2 request-fields">
      <div class="col-md-12 form-group">
        <%= f.label t("global.name") %>
        <%= f.text_field :name, :class => 'form-control',
                         :"data-fv-notempty"=>"true",
                         :"data-fv-notempty-message"=>"Please enter a sample name."  %>
        <%= f.label t("global.description") %>
        <%= f.input :description, label: false %>
        <%= f.label t("users.samples.form.price") %>
        <%= f.input :price, :class => 'form-control', label: false %>
        <%= f.label t("users.samples.form.quantity") %>
        <%= f.input :quantity, :class => 'form-control', :input_html => {:type => 'number'} , :label => false %>
      </div>
      <div class="col-md-12 form-group">
        <div class="fileinput-image">
          <% unless @sample.image_url.nil? %>
            <img src="<%= @sample.image_url %>" style="width:250px; height:250px" >
          <% else %>
            <h5><%= t("global.no_image") %></h5>
          <% end %>
        </div>
        <span class="btn btn-success fileinput-button">
        <!-- Change based on action -->
          <% if current_page?(action: 'new')|| @sample.image_url.nil? %>
          <span>
            <%= t("global.image") %>
          </span>
        <% else %>
          <span>
            <%= t("global.change_image") %>
          </span>
        <% end %>
          <%= f.file_field :image_url, accept: '*', data: { 'resource-name' => 'image'} %>
      </span>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
      <%= f.button :submit, t("global.create"), :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <%= simple_form_for(@sample, :url => sample_update_path(@sample), :method => 'put',
                      :html => { :class => 'form-group directFileUpload custom-form',
                                 :role => 'form'}) do |f| %>
    <div class="col-md-8 col-md-offset-2 request-fields">
      <div class="col-md-12 form-group">
        <%= f.label t("global.name") %>
        <%= f.text_field :name, :class => 'form-control',
                         :"data-fv-notempty"=>"true",
                         :"data-fv-notempty-message"=>"Please enter a sample name."  %>
        <%= f.label t("global.description") %>
        <%= f.input :description, label: false%>
        <%= f.label t("users.samples.form.price") %>
        <%= f.input :price, :class => 'form-control', label: false %>
        <%= f.label t("users.samples.form.quantity") %>
        <%= f.input :quantity, :class => 'form-control', :input_html => {:type => 'number'} , :label => false %>
      </div>
      <div class="col-md-12 form-group">
        <div class="fileinput-image">
          <% unless @sample.image_url.nil? %>
            <img src="<%= @sample.image_url %>" style="width:250px; height:250px" >
          <% else %>
            <h5><%= t("global.no_image") %></h5>
          <% end %>
        </div>
        <span class="btn btn-success fileinput-button">
        <!-- Change based on action -->
          <% if current_page?(action: 'new')|| @sample.image_url.nil? %>
          <span>
            <%= t("global.image") %>
          </span>
        <% else %>
          <span>
            <%= t("global.change_image") %>
          </span>
        <% end %>
          <%= f.file_field :image_url, accept: '*', data: { 'resource-name' => 'image'} %>
      </span>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
      <%= f.button :submit, t("global.save"), :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>

<!-- JavaScript code -->
<script>
    $(document).ready(function(){
        InitFileUpload();
    });
</script>