<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">
      <h2 class="text-center" style="margin-top: 20px; margin-bottom: 20px;"><%= t("global.list") %></h2>
      <table class="table">
        <thead class="thead-dark" >
        <tr>
          <th scope="col"><%= t("global.name") %></th>
          <th scope="col"><%= t("global.description") %></th>
          <th scope="col"><%= t("users.samples.form.price") %></th>
          <th scope="col"><%= t("users.samples.form.quantity") %></th>
          <th scope="col"><%= t("global.delete") %>/<%= t("global.edit") %></th>
        </tr>
        </thead>
        <tbody>
        <% @samples.each do |sample|%>
          <tr>
            <td><%= sample.name%></td>
            <td><%= sample.description%></td>
            <td><%= sample.price%></td>
            <td><%= sample.quantity%></td>
            <td><%= link_to t("global.delete"), sample_destroy_path(sample),:method => :delete %>/<%= link_to t("global.edit"), sample_edit_path(sample) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center" style="margin-bottom: 40px;">
        <%= link_to t("global.create"), sample_new_path, :class => 'btn btn-primary '%>
      </div>
    </div>
  </div>
</div>
