<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <%= simple_form_for @user, :url => user_update_path(@user),
                          :html => { :method => 'put', :id => "form_video",
                          :class => 'form-group directFileUpload', :role => 'form'} do |f| %>
          <div class="row m-y-2">
            <div class="col-lg-8 push-lg-4">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a href="" data-target="#profile" data-toggle="tab" class="nav-link active"><%= t("users.account.profile") %></a>
                  </li>
                  <li class="nav-item">
                      <a href="" data-target="#messages" data-toggle="tab" class="nav-link"><%= t("users.account.messages") %></a>
                  </li>
                  <li class="nav-item">
                      <a href="" data-target="#edit" data-toggle="tab" class="nav-link"><%= t("users.account.edit") %></a>
                  </li>
                  <% if @current_user.driver? %>
                      <li class="nav-item">
                          <a href="" data-target="#driver" data-toggle="tab" class="nav-link">Driver</a>
                      </li>
                  <% end %>
                  <% if @current_user.business? %>
                      <li class="nav-item">
                          <a href="" data-target="#business" data-toggle="tab" class="nav-link">Business</a>
                      </li>
                  <% end %>
              </ul>
              <div class="tab-content p-b-3">
                  <div class="tab-pane active" id="profile">
                      <div class="row">
                          <div class="col-md-6">
                              <p>
                                <%= t("users.account.username") %> <%= current_user.username %>
                              </p>
                              <p>
                                <%= t("users.account.first-name") %> <%= current_user.first_name %>
                              </p>
                              <p>
                                <%= t("users.account.last-name") %> <%= current_user.last_name %>
                              </p>
                          </div>
                      </div>
                      <!--/row-->
                  </div>
                  <div class="tab-pane" id="messages">
                    <h4 class="m-y-2"><%= t("users.account.recent-notif") %></h4>
                  </div>
                  <div class="tab-pane" id="edit">
                      <h4 class="m-y-2"></h4>
                      <form role="form">
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">
                                <%= t("users.account.username") %>
                              </label>
                              <div class="col-lg-9">
                                  <%= f.input :username, :class => 'form-control', label:false %>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">
                                <%= t("users.account.first-name") %>
                              </label>
                              <div class="col-lg-9">
                                  <%= f.input :first_name, :class => 'form-control', label:false %>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">
                                <%= t("users.account.last-name") %>
                              </label>
                              <div class="col-lg-9">
                                  <%= f.input :last_name, :class => 'form-control' , label:false%>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">
                                <%= t("users.account.email") %>
                              </label>
                              <div class="col-lg-9">
                                  <%= f.input :email, :class => 'form-control', label:false %>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">
                                <%= t("users.account.website") %>
                              </label>
                              <div class="col-lg-9">
                                  <input class="form-control" type="url" value="">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
            <div class="col-lg-4 text-xs-center" style="margin-top: 30px">
              <h6 class="m-t-2" >
                <%= t("users.account.upload-profile-image") %>
              </h6>
              <div class="fileinput-image">
                <% if current_user.profile_image_url.nil? %>
                  <img src="http://via.placeholder.com/150.png" class="m-x-auto img-fluid img-circle" alt="avatar">
                <%else%>
                  <img src="<%= @current_user.profile_image_url %>" alt="avatar" width="150" height="150">
                <% end %>
              </div>
              <span class="btn btn-success fileinput-button" style="margin-left: 14px; margin-top: 20px;">
                <!-- Change based on action -->
                <% if current_user.profile_image_url.nil? %>
                    <span><%= t("users.account.upload-image") %></span>
                <% else %>
                    <span><%= t("users.account.change-image") %></span>
                <% end %>
                <%= f.file_field :profile_image_url, accept: '*',
                                 data: { 'resource-name' => 'image'}, :style => 'max-width: 334px;' %>
              </span>
          </div>
            <div class="col_full nobottommargin title-center" style="margin-left: 400px">
              <%= f.button :submit, t("users.account.submit-button"), :class => 'btn btn-primary', :value => 'Save changes' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<script>
    $(document).ready(function(){
        InitFileUpload();
    });
</script>