/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul.langList {
  list-style: none;
  text-align: center;
  font-size: 35px;
}

ul.langList li {
  border-bottom: 1px solid black;
  margin-left: -40px;
  padding-bottom: 15px;
  padding-top: 15px;
}

ul.langList li:last-child {
  margin-left: -40px;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 15px;
}

/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
  background: white;
  color: black;
}

// File input
.fileinput-button{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
input[type="file"] {
  display: block;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}


// Card
.card {
  overflow: auto;
}

// Card Upgrade
div.card.upgrade img {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:768px)  { /* Smaller Screens Only */
  //Card Upgrade
  div.card.upgrade {
    width: auto;
    margin-bottom: 15px;
  }

}

@media (min-width:768px)  { /* Big Screens Only */
  // Card Upgrade
  div.card.upgrade {
    width: 18rem;
    margin-left: 50px;
    margin-bottom: 15px;
  }

  // Form
  .custom-form{
    margin-left: 25%;
  }
}

// Form
.form-title{
  margin-bottom: 40px;
}


// Main Back ground
body {
  background: url(<%= image_path "background.jpg" %>) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

// Nav Color override
.bg-dark {
  background-color: #004c99c9 !important;
}
.table .thead-dark th {
  color: #fff;
  background-color: #004284db !important;
  border-color: #fff;
}


// Nav links
a.nav-link {
  font-size: 20px;
}

// Navbar
.navbar-brand {
  font-size: 30px;
}
// Nav Bar Title Center
.navbar-title {
    position: absolute;
    padding: 0;
    z-index: 0;
    text-align: center;
    width: 100%;
}
// Mobile Nav layer bug fix, due to title center ^
button.navbar-toggler{
    z-index: 2;
}
// Nav Bar layer bug fix, and right link support
@media (min-width:992px)  { /* Big Screens Only */
    .navbar-nav{
        z-index: 2;
    }
    .last-right{
        position: absolute;
        float: right;
        right: 0;
        margin-right: 10px;
    }
}


// Footer
html {
  position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 130px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: white;
}

footer a{
    color: #bfffff;
}
footer a:hover{
    color: white;
}

.footer-top{
  background-color: #004c99c9 !important;
}
.footer-middle{
  background-color: #004c99c9 !important;
    padding-top: 2em;
    color: white;
}
.footer-bottom{
  background-color: #004c99c9 !important;
}