<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h2><%= t(".welcome") %></h2>
      <p class="lead"><%= t(".content-text") %></p>
      <div class="text-center">
        <a href="<%= sample_new_path %>"  type="button" class="btn btn-primary" ><%= t(".button-text") %></a>
      </div>
    </div>
  </div>
</div>