<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4><%= t("layouts.footer.footer-header-address") %></h4>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                  <%= t("layouts.footer.footer-city") %><br>
                                  <%= t("layouts.footer.footer-street") %><br>
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4><%= t("layouts.footer.footer-header-services") %></h4>
                        <ul class="list-unstyled">
                            <li><a href="#"><%= t("layouts.footer.footer-header-alpr") %></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4><%= t("layouts.footer.footer-expo-link") %></h4>
                        <ul class="list-unstyled">
                            <li>
                              <a href="https://play.google.com/store/apps/details?id=host.exp.exponent&referrer=www">Expo Android</a>
                            </li>
                            <li>
                              <a href="https://itunes.apple.com/app/apple-store/id982107779">Expo IOS</a>
                            </li>
                            <li>
                              <a href="https://expo.io/@dkperson/nativeapp">Plate Vision</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4 >QR Code</h4>
                        <img src="https://i.imgur.com/jFTRmaT.png" width="100" height="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--Footer Bottom-->
                    <p class=text-center>&copy; <%= t("layouts.footer.footer-text") %></p>
                </div>
            </div>
        </div>
    </div>
</footer>