<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Master Rails" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%# Application CSS & JS and all includes %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%# Meta Data %>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "Master_Rails" %></title>
  </head>
  <body class="stretched sticky-responsive-menu">
    <%# Main  navigation content %>
    <%= render 'layouts/navigation' %>
    <%# Languages Modal Popup %>
    <%= render 'layouts/languages_modal' %>
    <% if flash[:notice] %>
      <div class="notice alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%# Main page content %>
    <%= yield %>
    <%# Main footer content %>
    <%= render 'layouts/footer' %>
  </body>
</html>