

<div class="col-md-8 col-md-offset-2">
    <%= devise_error_messages! %>
</div>

<div class="col-md-8 col-md-offset-2">
    <div class="form-group">
        <%= f.label t("users.registrations.form.first-name"), :required => false %>
        <%= f.text_field :first_name, :autofocus => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label t("users.registrations.form.last-name"), :required => false %>
        <%= f.text_field :last_name, :autofocus => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label t("users.registrations.form.email"), :required => false %>
        <%= f.email_field :email, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a email.",  :"data-fv-emailaddress-message"=>"Your email is invalid." %>
    </div>

    <div class="form-group">
        <%= f.label t("users.registrations.form.username"), :required => false %>
        <%= f.text_field :username, :class => 'form-control'%>
    </div>

    <div class="form-group">
        <%= f.label t("users.registrations.form.password"), :required => false %>
        <%= f.password_field :password, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label t("users.registrations.form.password-confirmation"), :required => false %>
        <%= f.password_field :password_confirmation, :class => 'form-control', :"data-fv-notempty"=>"true" %>
    </div>

</div>

<div class="col-md-8 col-md-offset-2" >
    <div class="form-group">
        <%= f.label t("users.registrations.form.gender"), :required => false %>
        <%= f.select :gender, [[t("users.registrations.form.gender-male"), 'M'], [t("users.registrations.form.gender-female"), 'F']], {include_blank: t("users.registrations.form.gender-select")}, { :class => 'form-control', :"data-fv-field"=> "user[gender]",:"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Select a gender",  } %>
    </div>
</div>