<!-- Page Content -->
<div class="container fluid">
  <div class="card card-form border-0 shadow my-5">
    <div class="card-body">
        <div class="span12 text-center form-title">
            <h1><%= t("users.registrations.new.title") %></h1>
        </div>

        <%= simple_form_for(resource, :as => resource_name,
                            :url => user_registration_path,
                            :html => { :role => 'form', :class => 'custom-form'}) do |f| %>
          <%= render 'form', f: f %>
          <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
            <%= f.submit  t("users.registrations.new.sign-up-button"), :class => 'btn btn-primary ', :style => 'margin-bottom: 40px;'  %>
          </div>
        <% end %>
      </div>
    </div>
</div>
